@import './search-form.scss';
@import './result-list.scss';
@import './movie-details.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(101, 108, 133, 0.2);
  color: rgb(101, 108, 133);
}
