.result-list {
  margin: 2rem auto;
  padding: 1rem;
  width: 60rem;
  text-align: center;
  .MuiGrid-container {
    padding: 0.5rem 0;
  }
  .movie-title {
    cursor: pointer;
  }
  nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
