.search-form {
  margin: 3rem auto;
  width: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  .title {
    margin: 1rem;
  }
  .MuiOutlinedInput-root {
    width: 20rem;
    margin: 1rem auto;
  }
  .search-submit {
    margin: 1rem auto;
    width: 8rem;
  }
}
